<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>First Heading</title>
</head>
<body>
    <div class="container mx-auto text-center bg-white d-flex">
        <div class="words mt-5 p-5">
            <h3>First Heading <span class="text-secondary">Will Catch Your Eye</span></h3>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Facilis debitis vero cum ducimus, dolor nulla perferendis reprehenderit, fugit consectetur sapiente aspernatur aliquid blanditiis accusantium? Explicabo ipsum doloribus dolore nihil labore!</p>
        </div>
        <div class="my-auto">
            <img src="./assets/img/1.jpg" class="rounded-circle " height="200px"/>
        </div>
    </div>
</body>
</html>